.btn {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0px;
}

.btn p {
  font-size: 12px;
}

.heder-btn {
  width: 100px;
  height: 35px;
}

.roundBtn {
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header h1{
  font-size: 35px;
}

.header-left-btns{
  margin-left: 20px;
  display: flex;
  gap: 30px;

}

.header-right-btns{
  margin-right: 20px;
  display: flex;
  gap: 30px;

}